p.about-me {
  font-size: .9em;
  text-align: justify;
}

/*hover effect on image links*/

a:hover {
  opacity: 0.7;
}
/*.image {
  position: relative;
  width: 100%;
}*/

.image-links {
  position: relative;
  z-index: 10;
  padding: 10px;
}

.caption {
  position: absolute;
  left: 100px;
  bottom: 40px;
  color: black;
  font-size: 1.5em;
  z-index: 20;
  text-shadow: 2px 2px 6px black;
}
